.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardDetails {
    position: relative;
    margin: 50px 50px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}
.details{
    border-right: 2px solid #e7e7e7;;
    border-radius: 5px;
    padding: 15px;
}
.price{
    width: 120px;
    text-align: center;
    border: none;
    background-color: green;
    border-radius: 10px 0px 10px 0px ;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
}
@media (max-width:760px) {
    .cardDetails {
        position: relative;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .details{
    border-right: none;
    border-top: 2px solid #e7e7e7;;
    }

}
.cardDetails .category{
    text-align: right;
    margin:40px 0px;
}
.buyandinfoprice{
    display: flex;
    justify-content: space-between;
}
.buyandinfoprice button{
    background:none;
    width: 120px;
    height:fit-content;
    color: black;
    border: 1.5px solid  #d64b19;
    padding: 5px 10px;
    border-radius: 0px 10px 0px 10px;
    font-weight: bold;
    margin: 0px 10px;
    cursor: pointer;
    transition: all 0.2s linear;
}
.buyandinfoprice button:hover{
    background: #d64b19;
    color: #fff;
}