.suggestiontext {
    text-align: center;
    margin: 60px 0px;
}

.suggestiontext span {
    color: #d64b19;
}
.suggestion {
    margin: 30px;
    display:grid;
    grid-template-columns: repeat(5,auto);
    grid-gap:5px;
    border: 1px solid #e7e7e7;
    border-radius:15px;
}
.suggestion .boxsuggestion{
    padding: 10px;
    border-right: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    border-bottom-right-radius: 15px;
}
.suggestion .image {
display: flex;
justify-content: center;
}
.suggestion div img{
    width: 100px;
    height: 100px;
    border-radius:100%;
}
.producttype h3{
    color:  #d64b19;
    display:flex;
    justify-content:center;
    align-items:flex-end;
    text-align:center;
    font-size:1.25rem;
    font-weight:bold;
    margin-top:5px;
}
.producttype a{
    text-decoration: none;
    color: #d64b19;
}
@media (max-width:760px) {
    .suggestion {
        margin-top: 30px;
        display:grid;
        grid-template-columns: repeat(2,auto);
        grid-gap:5px;
    }
}