body{
  background-color: #ffffff !important;
  cursor: default;
}
::-webkit-scrollbar{
  width: 10px;
  color: #d64b19;
}
::-webkit-scrollbar-track{
  background-color:  #fff;
}
::-webkit-scrollbar-thumb{
  background-image: linear-gradient( #d64b19,white);
}